body {
    background-color: #f7f7f7;
    width: 1280px;
    margin: 0 auto;
}

.backgroundImg {
    height: 576px;
    width: 1280px;
    position: absolute;
    top: 0;
    background-image: url('./Vector.png');
    background-size: contain;
    opacity: 0.2;
}

.sign {
    height: 58px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -255.6px;
}

.logo {
    height: 48px;
    width: 53.23px;
    background-image: url('./Group\ 1.png');
    background-size: contain;
}

h1 {
    align-self: center;
    color: #007334;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
}

figure {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -250px;
    height: 500px;
    width: 500px;
    background-image: url('./5421742_2822685\ 1.png');
    background-size: contain;
    z-index: 2;
}

#message {
    position: absolute;
    top: 500px;
    left: 50%;
    margin-left: -622.5px;
    text-align: center;
    width: 1245px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
    line-height: 32px;
}

#message span {
    color: red;
}

@media (max-width: 500px) {
    body {
        background-color: #f7f7f7;
        width: 390px;
        margin: 0 auto;
    }

    .backgroundImg {
        height: 275px;
        width: 390px;
        position: absolute;
        top: 0;
        background-image: url('./Vector.png');
        opacity: 0.2;
}

    .sign {
        height: 29px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;
        position: absolute;
        top: 64px;
        left: 50%;
        margin-left: -127.8px;
    }
    
    .logo {
        height: 24px;
        width: 26.62px;
        background-image: url('./Group\ 1.png');
        background-size: contain;
    }

    h1 {
        align-self: center;
        color: #007334;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
    }

    figure {
        position: absolute;
        top: 109px;
        left: 50%;
        margin-left: -125px;
        height: 250px;
        width: 250px;
        background-image: url('./5421742_2822685\ 1.png');
        background-size: contain;
        z-index: 2;
    }

    #message {
        position: absolute;
        top: 375px;
        left: 50%;
        margin-left: -151.5px;
        text-align: center;
        width: 303px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: darkgreen;
        line-height: 32px;
    }
}